
.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}
a{
	text-orientation: none;
	color: black;
}
a.hover{
	color: blue;
}
p
{color: grey;}
.hdr1{
	float-right;
}
.span1{
	top: 300px;
}
.header{
	left: 0px;
	width: 1500px; 
	height:80px;
	background-color: #e6e6ff;
}
h1{
	
	padding-top: 20px;

	margin-left: 400px;
}
.d1{

	width: 350px;
	height: 500px;
	background-color: white;
	border: 1px solid #e6e6ff;
	display: inline-block;

}
.d2{
	width: 350px;
	height: 85px;
	background-color:#e6e6ff ;

}
ul li{
	overflow: hidden;
}
.d3{
	width: 820px;
	height: 200px;
	background-color: white;
	margin-bottom: 300px;
	display: inline-block;

}

/*footer*/
.footer
{color: white;}
.Link1 a {color: white;
font-family: times-new-roman;
margin-left: -20px;
}
.Link2 a {color: white;
font-family: times-new-roman;}
.Link1 li {color: black;
	margin-left: -20px;
}
.Link2 li {color: black;
	margin-left: -20px;
}

.enda{ display: inline-block;
	margin-left: 500px;
	width: 500px;
	height: 30px;
	background-color: black;
}
.enda li {color: black;
display: inline-block; }
.final p { padding-bottom: 80px;}
.a1{display: inline-block;}
.a2{display: inline-block;}
.a3{display: inline-block;}
.a4{display: inline-block;}
.a11{width: 40px;
height: 10px;
display: inline-block;
background-color: black;}
.a22{width: 40px;
height: 10px;
display: inline-block;
background-color: black;}
.a33{width: 40px;
height: 10px;
display: inline-block;
background-color: black;}
.son{display: inline-block;
width: 400px;
height: 100px;
background-color: black;}
